/* Global */
:root {
    /* Color */
    --color-white: #ffffff;
    --color-light-white: #ebebeb;
    --color-dark-white: #bdbdbd;
    --color-blue: #B6CDF6;
    --color-azure: #a6c8ea;
    --color-royal-azure: #003fff;
    --color-dark-azure: #003399;
    --color-grey: #616161;
    --color-light-grey: #e1e0e0;
    --color-dark-grey: #4d4d4d;
    --color-deep-blue: #140968;
    --color-black: #0a0909;
    --color-dark-blue: #1f2eb7;
    --color-mid-grey: #4e4e4e;
    --color-planblue: #003280;
    --color-planblue-gn: #249c17;
  
    /* Font size */
    --font-large: 40px;
    --font-mid-medium: 25px;
    --font-medium: 23px;
    --font-mid-regular: 20px;
    --font-regular: 17px;
    --font-small: 15px;
    --font-micro: 13px;
    --font-mini: 11px
  
    /* Font weight */
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-regular: 400;
  
    /* Size */
    --size-border-radius: 4px;
  
    /* Annimation */
    --animation-duration: 300ms;
  }
  
  /* Universal tags */
  * {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0;
  }
  
  a {
    text-decoration: none;
    color: var(--color-white);
  }
  
  ul {
    padding-left: 0;
  }
  
  li {
    list-style: none;
    text-align: left;
  }
  
  button {
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
  }
  
  /* Typography */
  h1 {
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    color: var(--color-black);
    margin: 16px 0px;
  }
  
  h2 {
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
    color: var(--color-black);
    margin: 24px 0 70px;
  }
  
  h3 {
    font-size: var(--font-regular);
    font-weight: var(--font-regular);
    color: var(--color-black);
    margin: 8px 0;
  }
  
  p {
    font-size: var(--font-mid-regular);
    font-weight: var(--font-regular);
    color: var(--color-black);
    margin: 20px 0 40px;
  }

  hr {
    border-bottom: 1px solid gray;
    text-align: center;
   }

   .hr2 {
    border-top: 3px solid #249c17;
    text-align: center;
   }

  .h3_title {
    font-size: 18px;
    font-weight: 700;
    margin: 10px 0;
  }
  
  .p2 {
    font-size: 15px;
    font-weight: 500;
    margin: 20px 0;
  }

  .vl {
    border-left: 6px solid green;
    height: 130px;
    position: absolute;
    left: 50%;
    margin-left: -20px;
  }

  /* Navbar */
#navbar {
    position: relative;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    background-color: var(--color-white);
    transition: all var(--animation-duration)ease-in-out;
    z-index: 999999;
  }
  
  .navbar_logo_pb {
    position: relative;
    vertical-align: center;
    margin: 10px 0;
    height: 50px;
    max-height: 50px;
    width: auto;
  }

  .gnb-list{
    display:flex;
  }
  
  .gnb-list-item{
    height:50px;
    margin-left:60px;
    text-align: center;
    letter-spacing: -0.5px;
  }
  
  .gnb-list-link{
    font-size:var(--font-regular);
    font-weight:var(--weight-bold);
    vertical-align: baseline;
    color:black;
    text-decoration:none;
  }

  .gnb-list-link:hover {
    color: var(--color-royal-azure);
  }
  
  .gnb-level2{
    position:absolute;
    background: var(--color-white);
    font-size:var(--font-small);
    font-weight: var(--weight-regular);
    width: 150px;
    padding:0 20px;
    border:1px solid var(--color-dark-white);
    top:80px;
    display:none;
  }
   
  .gnb-level2.active {
    display:block;
    background-color: var(--color-white);
    color: var(--color-black);
  }
  
  .gnb-level2-item{
    margin:20px 0;
  }
  
  .gnb-level2-item > a{
    color:#555555;
    text-decoration:none;
  }
  
  .hamburger{
    display:none;
  }
  
  /* Home */
  #home {
    background: url("imgs/cna_3.png") center/cover no-repeat;
    padding: 40px;
    padding-top: 120px;
    text-align: center;
    color: var(--color-light-white);
  }

  .home_box {
    block-size: 300px;
  }

  .home_box1 {
    block-size: 200px;
  }

  .home_top_title,
  .home_mid_title,
  .home_description {
    color:var(--color-white);
    text-align: right;
  }
  
  /* Section common */
  .section {
    padding: 50px 0px; 
    text-align: center;
    margin: auto;
  }
  
  .section_container {
    max-width: 1200px;
    margin: auto;
  }

  /* RFID Solution */
  .solution_majors {
    display: flex;
    justify-content: space-around;
    margin: 80px 0 20px;
    padding: 20px 0;
  }
  
  .solution_icon {
    width: 120px;
    height: 120px;
    line-height: 100px;
    font-size: 50px;
    margin: auto;
    color: var(--color-white);
    background-color: var(--color-planblue);
    border-radius: 50%;
    margin-bottom: 20px;
  }
  
  .solution_icon i {
    transition: all var(--animation-duration) ease;
  }
  
  .solution_icon:hover i {
    /* color: var(--color-azure); */
    transform: rotate(-30deg) scale(1.0);
  }
  
  .solution_title {
    font-size: var(--font-regular);
    font-weight: 600;
    color: var(--color-planblue);
  }
  .solution_description {
    color: var(--color-black);
    font-size: var(--font-small);
  }  

  /* Industries */
#products {
  background-color: var(--color-light-grey);
}

.product_category {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1200px;
}

.product {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 100%;
  margin: 5px;
}

.product_img {
  max-width: 280px;
  height: 230px;
  background-color: var(--color-white);
  margin: auto;
}

.product_description {
  position: absolute;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transform: translateX(10px);
  transition: all var(--animation-duration) ease-in;
}

.product:hover .product_description {
  opacity: 0.8;
  transform: translateY(0px);
}

.product_description h3 {
  color: var(--color-white);
}

.product_description h3:after {
  content: '';
  display: block;
  position: relative;
  left: 50%;
  width: 25px;
  height: 2px;
  margin-left: -12px;
  margin-top: 8px;
  background-color: var(--color-dark-white);
}

/* * {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0} */
.mySolutions {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  overflow: hidden;
  max-width: 75%;
  height: auto;
  position: relative;
  margin: auto;
}

.slideshow-wrapper{
  display: flex;
  justify-content: center;
  position: relative;
  max-width: 100%;
  height: auto;
  margin: 10px 0 40px 0;
}

/* The dots/bullets/indicators */
.slider_bars {
  position: absolute;
  bottom: 15px;
  left: 50%;
  z-index: 15;
  width: 60%;
  padding-left: 0;
  margin-left: -30%;
  margin-top: 20px;
  text-align: center;
  list-style: none;
}

.bar {
  cursor: pointer;
  height: 5px;
  width: 35px;
  margin: 0 2px;
  background-color: rgb(169, 167, 167);
  border-radius: 0;
  display: inline-block;
  transition: background-color 0.6s ease;
  z-index: 100;
}

.active, .bar:hover {
  background-color: var(--color-grey);
}

/* Fading animation */
.fade {
  animation-name: slide;
  animation-duration: 1.5s ease-in;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* Information */
#information {
  background-color: var(--color-light-grey);
}

.information {
  display: flex;
  max-width: 1120px;
  margin: 20px;
}

.information_column_inner {
  display:flex;
  justify-content:space-between;
  box-sizing: border-box;
  height: auto;
  margin: 0 50px;
  padding: 10px 30px;
  background-color: var(--color-white);
  text-align: left;
  position: relative;
  width: 50%;
  z-index: 20;
}

.information_wrapper {
  max-width: 300px;
}

.button_btn2-container {
  display: block;
  height: 50px;
  position: relative;
}

.button_btn2-container a {
  margin: 0 auto;
  width: 200px;
  height: auto;
  background-color: var(--color-planblue);
  color: var(--color-white);
  text-transform: uppercase;
  border: none;
  position: absolute;
  font-weight: var(--weight-bold);
  padding: 10px 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Footer */
#footer {
  background-color: var(--color-black);
  color: var(--color-white);
  margin: 0px;
  padding: 50px 0 20px 0px;
}

.footer-bottom p {
  background-color: var(--color-black);
  justify-items: baseline;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  padding: 0px 70px;
  height: 120px;
}

.footer-top-logo {
  height: 120px;
  max-height: 120px;
  width: auto;
  display: flex;
  flex-direction: column;
}

.footer-logo-img {
  height: 70px; 
  max-height: 70px;
  width: 70px;
}

.footer-logo-a {
 font-size: 20px;
 font-weight: 400;
 padding: 10px 0;
 justify-content: baseline ;
}

.footer-top-item {
  font-size: 17px;
  margin-left:60px;
  text-align: center;
  letter-spacing: -0.5px;
}

.footer-top-links {
  display: flex;
}

.footer-legal p {
  font-size: var(--font-regular);
  color: var(--color-white);
  margin-bottom: 0px;
}

/* Scroll */
#myBtn {
  display: inline-block;
  position: fixed; 
  bottom: 50px; 
  right: 50px;
  width: 70px;
  height: 70px;
  font-size: 60px;
  padding: 0;
  /* border: none;
  outline: none; */
  z-index: 99;
  background-color: var(--color-black);
  color:var(--color-white); 
  cursor: pointer; 
  border-radius: 50%; 
  transition: opacity 300ms ease-in; 
}
#myBtn:hover {
  background-color: var(--color-planblue-gn);
}

/* product.html style */

#category_intro {
  margin: 0;
}

.category_section {
  display: flex;
  position: relative;
  padding: 0;
}

.cat_column_container {
  display: flex;
  width: 100%;
  margin: 0 20px;
}

.cat_column_container-left {
  width: 50%;
  float: left;
  margin-left: 120px;
}

.cat_column_container-right {
  width: 50%;
  float: right;
  margin-right:120px;
}

.cat_column_inner {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 450px;
  height: 100%;
  margin: 10px;
}

.cat_product_rep_img {
  max-width: 500px;
  height: auto;
  align-self: center;
}

.cat_wrapper {
  max-width: 500px;
}

.cat_wrapper h3 {
  color: var(--color-planblue-gn);
  margin: 10px 0 10px;
  font-size: 24px;
  font-weight: 700;
}

.cat_wrapper h2 {
  color: var(--color-planblue);
  margin: 10px 0 10px;
  font-weight: var(--weight-bold);
}

.p1 {
  margin: 20px 0 30px;
  text-align: left;
}

.button_btn1-container {
  display: block;
  height: 50px;
  text-align: center;
}

.button_btn1-container a {
  background-color: var(--color-planblue-gn);
  color: var(--color-white);
  text-transform: uppercase;
  border: none;
  position: relative;
  font-weight: var(--weight-bold);
  padding: 10px 20px;
  height: 50px;
}

.product_rep_img {
  max-width: 300px;
  height: auto;
  vertical-align: top;
}

.product-description {
  display: flex;
  background-color: var(--color-dark-grey);
  color: var(--color-black);
  height: 400px;
}

.sub-product {
  display: flex;
  background-color: var(--color-dark-grey);
  color: var(--color-black);
  height: 400px;
}

/* Solution page Style*/
.main-slogan {
  height:270px;
  background: #011c41;
  box-sizing:border-box;
  position:relative;
}

.main-slogan-item{
  position:absolute;
  top: 0;
  left: 0; /* dissolve 효과 적용시 위치 고정 */
  width: 100%; /* absolute를 사용하면 기본 속성이 제거됨 => 100% 사용해야 함 */
  height: 100%; /* absolute를 사용하면 height에 % 적용 가능 */
  padding-top:50px;
}

.main-slogan-item.current{
  /* left: 0; dissolve 효과 적용시 사용 안함 */
  opacity: 1;
  transition: opacity 2s;
}

.main-slogan-item.next{
  /* left: 100%;  dissolve 효과 적용시 사용 안함 */
  opacity: 0;
}

.main-slogan-item.prev{
  /* left: -100%;  dissolve 효과 적용시 사용 안함 */
  opacity: 0;
  transition: opacity 2s;
}

.section-heading {
  font-size:38px;
  color:#ffffff;
  font-weight:600;
  text-align:center;
  margin: 20px 0;
}

.section-paragraph{
  width:500px;
  text-align:center;
  margin:auto; /* margin:0 auto */
  font-size:15px;
  color: var(--color-white);
}

.mt20{
  margin-top:20px;
}

#sub_solutions {
  background-color: var(--color-light-white);
}

.sub_solutions {
  margin: 40px 30px;
}

.sub_solution {
  display: flex;
  margin: 32px 0;
}

.sub_solution_image {
  max-width: 300px;
  height: auto;
}

.sub_solution_image:nth-child(odd) {
  margin-right: 30px;
}

.sub_solution_image:nth-child(even) {
  margin-left: 30px;
}

.sub_solution_content-intro {
  padding: 18px;
  background-color: var(--color-white);
}

.sub_solution_content-intro .description{
  text-align: left;
}

.sub_solution_content-intro p {
  color: var(--color-dark-grey);
  margin: 20px 0 ;
  font-size: 17px;
}

.sub_solution_content-intro h3 {
  color: var(--color-planblue);
  margin: 20px 0 30px;
  font-weight: var(--weight-bold);
}

.sub_solution_content-intro a {
  color: var(--color-pink);
}

/* Product page style */
#product_industry {
  background:#d9d9d9;
  position: relative;
}

.industries {
  display: flex;
  justify-content: space-between;
  max-width: 1140px;
  margin: 80px 0 20px;
  padding: 20px 0;
}

.industry {
  background-color: var(--color-white);
  width: 160px;
  height: auto;
  text-align: center;
  border-radius: 5%;
}

.industry_icon {
  width: 120px;
  height: 120px;
  line-height: 100px;
  font-size: 50px;
  margin: auto;
  color: var(--color-white);
  background-color: var(--color-planblue);
  border-radius: 50%;
  margin-top: 40px;
  margin-bottom: 20px;
}

.industry_title {
  font-size: var(--font-regular);
  font-weight: 600;
  color: var(--color-planblue-gn);
}
.industry_description {
  color: var(--color-black);
  font-size: var(--font-small);
}

#sub_products {
  background-color: var(--color-light-white);
}

.sub_products {
  margin: 40px 30px;
}

.sub_product {
  display: flex;
  margin: 32px 0;
}

.sub_product_image {
  max-width: 300px;
  height: auto;
  margin-right: 30px;
}

.sub_product_content-intro {
  font-size: 30px;
  padding: 18px;
  background-color: var(--color-white);
}

.title {
  font-size: 40px;
  font-weight: 700;
}

.sub_product_content-intro .description{
  text-align: left;
}

.sub_product_content-intro p {
  color: var(--color-dark-grey);
  margin: 20px 0 ;
  font-size: 17px;
}

.sub_product_content-intro h3 {
  color: var(--color-planblue);
  margin: 20px 0 30px;
  font-weight: var(--weight-bold);
}

.sub_product_content-intro a {
  color: var(--color-pink);
}

/* RFID page style */
#rfid_category {
  background-color: var(--color-light-white);
}

.rfid_category-container {
  width: 100%;
  margin: 10px 0 30px;
}

.rfid_category-title p {
  font-size: 25px;
  font-weight: 700;
  margin: 40px 0 10px;
}

.rfid_row_inner {
  display: flex;
  justify-content: space-around;
  margin: 20px 0 ;
  padding: 20px 0;
}

.rfid_column_container {
  background-color: var(--color-white);
  width: 350px;
  padding: 0 30px;
}

.rfid_item-top {
  margin: 20px 0;
}

.rfid_item-h2 {
  color: var(--color-planblue-gn);
  margin: 30px 0;
}

.rfid_item-image {
  display: flex;
  height: 160px;
  border: 1px solid var(--color-dark-white);
  border-radius: 20px;
  justify-content: center;
  align-items: center;
}

.rfid_item-image img {
  max-width: 160px;
  height: auto;
}

.rfid_item-bottom {
  margin: 20px 0;
}

.rfid-item-h3 {
  font-size: large;
  font-weight: var(--weight-bold);
}

.rfid-item p{
  font-size: 16px;
  line-height: 24px;
  text-align: left;
}


/* For below 768px screen width */
@media screen and (max-width: 768px) {
  #navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .gnb-list {
    flex-direction: column;
    text-align: center;
    width: 100%;
    display: none;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}


