/* Global */
:root {
    /* Color */
    --color-white: #ffffff;
    --color-light-white: #ebebeb;
    --color-dark-white: #bdbdbd;
    --color-blue: #B6CDF6;
    --color-azure: #a6c8ea;
    --color-royal-azure: #003fff;
    --color-dark-azure: #003399;
    --color-grey: #616161;
    --color-light-grey: #e1e0e0;
    --color-dark-grey: #4d4d4d;
    --color-deep-blue: #140968;
    --color-black: #0a0909;
    --color-dark-blue: #1f2eb7;
    --color-mid-grey: #4e4e4e;
    --color-planblue: #003280;
    --color-planblue-gn: #249c17;
  
    /* Font size */
    --font-large: 45px;
    --font-medium: 25px;
    --font-regular: 17px;
    --font-small: 15px;
    --font-micro: 13px;
  
    /* Font weight */
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-regular: 400;
  
    /* Size */
    --size-border-radius: 4px;
  
    /* Annimation */
    --animation-duration: 300ms;
  }
  
  /* Universal tags */
  * {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
  }
  
  a {
    text-decoration: none;
    color: var(--color-white);
  }
  
  ul {
    padding-left: 0;
  }
  
  li {
    list-style: none;
    text-align: left;
  }
  
  button {
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
  }
  
  /* Typography */
  h1 {
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    color: var(--color-black);
    margin: 16px 0px;
  }
  
  h2 {
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
    color: var(--color-black);
    margin: 24px 0 70px;
  }
  
  h3 {
    font-size: var(--font-regular);
    font-weight: var(--font-regular);
    color: var(--color-black);
    margin: 8px 0;
  }
  
  p {
    font-size: var(--font-regular);
    font-weight: var(--font-regular);
    color: var(--color-black);
    margin: 24px 0 70px;
}

  /* Navbar */
#navbar {
    position: relative;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    background-color: var(--color-white);
    transition: all var(--animation-duration)ease-in-out;
    z-index: 999999;
  }
  
  .navbar_logo_pb {
    position: relative;
    vertical-align: center;
    margin: 10px 0;
    height: 50px;
    max-height: 50px;
    width: auto;
  }

  .gnb-list{
    display:flex;
  }
  
  .gnb-list-item{
    height:50px;
    margin-left:60px;
    text-align: center;
    letter-spacing: -0.5px;
  }
  
  .gnb-list-link{
    font-size:var(--font-regular);
    font-weight:var(--weight-bold);
    vertical-align: baseline;
    color:black;
    text-decoration:none;
  }

  .gnb-list-link:hover {
    color: var(--color-royal-azure);
  }
  
  .gnb-depth2{
    position:absolute;
    background: var(--color-white);
    font-size:var(--font-small);
    font-weight: var(--weight-regular);
    width: 150px;
    padding:0 20px;
    border:1px solid var(--color-dark-white);
    top:80px;
    display:none;
  }
   
  .gnb-depth2.active {
    display:block;
    background-color: var(--color-white);
    color: var(--color-black);
  }
  
  .gnb-depth2-item{
    margin:20px 0;
  }
  
  .gnb-depth2-item > a{
    color:#555555;
    text-decoration:none;
  }
  
  .hamburger{
    display:none;
  }
  
  /* Home */
  #home {
    background: url("imgs/cna_3.png") center/cover no-repeat;
    padding: 40px;
    padding-top: 120px;
    text-align: center;
    color: var(--color-light-white);
  }

  .home_box {
    block-size: 300px;
  }

  .home_box1 {
    block-size: 200px;
  }

  .home_top_title,
  .home_mid_title,
  .home_description {
    color:var(--color-white);
    text-align: right;
  }
  
  /* Section common */
  .section {
    padding: 50px 0px; 
    text-align: center;
    margin: auto;
  }
  
  .section_container {
    max-width: 1200px;
    margin: auto;
  }

  /* RFID Solution */
  .solution_majors {
    display: flex;
    justify-content: space-between;
    margin: 80px 0 20px;
    padding: 20px 0;
  }
  
  .solution_icon {
    width: 120px;
    height: 120px;
    line-height: 100px;
    font-size: 50px;
    margin: auto;
    color: var(--color-white);
    background-color: var(--color-planblue);
    border-radius: 50%;
    margin-bottom: 20px;
  }
  
  .solution_icon i {
    transition: all var(--animation-duration) ease;
  }
  
  .solution_icon:hover i {
    /* color: var(--color-azure); */
    transform: rotate(-30deg) scale(1.0);
  }
  
  .solution_title {
    font-size: var(--font-regular);
    font-weight: 600;
    color: var(--color-planblue);
  }
  .solution_description {
    color: var(--color-black);
    font-size: var(--font-small);
  }
  

  /* Products */
#products {
  background-color: var(--color-light-grey);
}

.product_category {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 390px;
  height: 100%;
  margin: 5px;
}

.product_img {
  max-width: 100%;
  max-height: 100%;
  align-self: center;
}

.product_description {
  position: absolute;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transform: translateX(10px);
  transition: all var(--animation-duration) ease-in;
}

.product:hover .product_description {
  opacity: 0.8;
  transform: translateY(0px);
}

.product_description h3 {
  color: var(--color-white);
}

.product_description h3:after {
  content: '';
  display: block;
  position: relative;
  left: 50%;
  width: 25px;
  height: 2px;
  margin-left: -12px;
  margin-top: 8px;
  background-color: var(--color-dark-white);
}

/* * {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0} */
.mySolutions {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  overflow: hidden;
  max-width: 100%;
  height: 700px;
  position: relative;
  margin: 0 auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 30px;
  transition: .6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "prev button" to the right */
.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* The dots/bullets/indicators */

.slider_bars {
  position: absolute;
  bottom: 15px;
  left: 50%;
  z-index: 15;
  width: 60%;
  padding-left: 0;
  margin-left: -30%;
  text-align: center;
  list-style: none;
}

.bar {
  cursor: pointer;
  height: 4px;
  width: 35px;
  margin: 0 2px;
  background-color: var(--color-white);
  border-radius: 0;
  display: inline-block;
  transition: background-color 0.6s ease;
  z-index: 100;
}

.active, .bar:hover {
  background-color: var(--color-royal-azure);
}

/* Fading animation */
.fade {
  animation-name: slide;
  animation-duration: 1.5s ease-in;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* Footer */
#footer {
  background-color: var(--color-planblue);
  color: var(--color-white);
}

.footer-top {
  display: flex;
  margin:0 50px 0 30px;
}

.footer-top-logo {
  margin: 0 200px 0 45px;
}

.footer-top-list{
  display: flex;
  margin: 0 45px 0 200px;
}

.footer-list-link {
  font-size: 18px;
  font-weight: var(--weight-semi-bold);
}

.footer-list-items {
  font-size: 15px;
  line-height: 22px;
  text-align: left;
  letter-spacing: 1px;
}

.footer-legal p {
  font-size: var(--font-regular);
  color: var(--color-white);
  background-color: var(--color-planblue);
  margin: 0;
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

